.pageWrap{
  width: 100%;
  min-height: calc(100vh - 64px);
  display: flex;
  background-color: #fff;
  &-main{
    flex: 1;
    padding: 16px 24px;
    .title{
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 12px;
    }
    .desc{
      font-size: 14px;
      color: #666;
      margin-bottom: 12px;
    }
  }
}